@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iransans';
    src: url('./fonts/IranianSans.ttf');
}

.iransans {
    font-family: 'iransans' !important;
}

/* html {
    background-color: white !important;
    color: black;
} */